<div id="home">
    <div class="main">
        <h1 id="prop-header">The world's most secure banking establishment.</h1>
        <p id="prop-statement">
            With its unique security measures, Gringotts is the only bank in the 
            world that has a perfect record in theft prevention.
        </p>
    </div>
    <div class="main">
        <ul>
            <li id="bill-pay">
                <h2>Scheduled Bill Payments</h2>
                <p>
                    With our <em>Regular Bill Pay</em> system, you answer a couple
                    of questions about your payments, and we will automatically make
                    sure your bills are paid on time.
                </p>
            </li>
            <li id="security">
                <h2>Advanced Security</h2>
                <p>
                    We utilize the most advanced security software on the market so 
                    that our online services are as trustworthy as those at our 
                    physical locations.
                </p>
            </li>
        </ul>
    </div>
</div>
