<h2>Bills</h2>

<% @bills.each do |bill| %>
    <%= link_to "Bill to #{bill.payee_name} : Amount #{number_to_currency(bill.amount)} : From #{Account.find(bill.account_id).display_account_id}", bill%>
<% end %>
