<h1>Teller#index</h1>
<p>Find me in app/views/teller/index.html.erb</p>

<%= link_to "Create Transfer", new_transfer_path %><br/>
<%= link_to "Create Deposit", new_deposit_path %><br/>
<%= link_to "Create Withdrawal", new_withdrawal_path %><br/>
