<h1>Teller#index</h1>
<p>Find me in app/views/teller/index.html.erb</p>

<%= link_to "Create Transfer", new_transfers_path %><br/>
<%= link_to "Create Deposit", new_deposits_path %><br/>
<%= link_to "Create Withdrawal", new_withdrawals_path %><br/>
