<br/>
Search Results: <br/>
# of matching results ()<br/>
<table>
<% for user in @users %>
  <tr>
    <td><%= link_to user.id, customer_by_id_path(user) %> </td>
    <td><%= user.level %></td>
  </tr>
<% end %>
</table>
		