<br/>
Search Results: <br/>
# of matching results ()<br/>

<ol>
<% for user in @users %>
	<li>
		<%= user.id %> |
		<%= link_to user.username, customer_by_id_path(user) %> |
		<%= user.level %>
	</li>
<% end %>
</ol>