/* -------------------- */
/*  Setup
/* -------------------- */
$base-margin: 12px;
$header-image-size: 200px;

$parchmentColor: #fff3f7;
$darkPaperColor: #ddd1c4;
$gringottsRedColor: #b20000;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}
 
* {
    margin: 0;
    padding: 0;
}

header, footer, section, aside, nav, article {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    background: $parchmentColor;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1, h2, h3{
    color: darken($gringottsRedColor, 10%);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: darken($gringottsRedColor, 10%);
}

/* -------------------- */
/*  Header
/* -------------------- */
header {
    width: 100%;
    height: 120px;
    background: $gringottsRedColor;
    #headerContent {
        max-width: 800px;
        margin: 0 auto;
        img {
            width: 200px;
            height: 200px;
            padding: $base-margin;
            float: left;
            z-index: 3;
        }

        nav {
            float: right;
            .navbar-text {
                padding: $base-margin $base-margin 0 0;
                color: $parchmentColor;
                font-size: 14px;
                // text-shadow: 0 -1px rgba(0, 0, 0, 0.6);
                text-align: center;
            }
            a {
                display: block;
                width: 100px;
                margin: $base-margin/2 0 $base-margin $base-margin*9;
                padding: $base-margin/2;
                color: $parchmentColor;
                font-size: 16px;
                font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
                font-variant: small-caps;
                text-decoration: none;
                // text-shadow: 0 -1px rgba(0, 0, 0, 0.6);
                @include border-radius(2px);
                border: 1px solid transparent;
                background: lighten($gringottsRedColor, 5%);
                line-height: 100%;
            }

            a:hover {
                border-color: $parchmentColor;
                text-shadow: 0px 0px 2px #ff0;
            }
        }

    }

    @media only screen and (max-width: 480px) {
        height: 124px;
        #headerContent {
            img {
                width: 100px;
                height: 100px;
                float: none;
            }
        }
    }
}

.alert {
    width: 200px;
    margin: $base-margin auto;
    padding: $base-margin/2;
    border: 1px solid #fff;
    border-top: none;
    @include border-radius(4px);
    text-align: center;
    opacity: 0.5;
    &.alert-notice {
        background: lighten(#22dd33, 20%);
    }

    &.alert-error {
        background: lighten($gringottsRedColor, 20%);
    }
}




/* -------------------- */
/*  Content
/* -------------------- */
#content {
    max-width: 800px;
    margin: 0 auto;
    margin-top: ($header-image-size/2 + 12px);
    margin-bottom: ($header-image-size/2 + 12px);
    .main {
        margin: 0 auto;
        margin-bottom: $base-margin;
        padding: $base-margin*2;
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 1px 2px #ddd;
        @include border-radius(4px);
        #prop-header {
            font-size: 60px;
            line-height: 120%;
            padding-bottom: $base-margin;
            @media only screen and (max-width: 560px) {
                font-size: 42px;
            }
        }

        #prop-statement {
            line-height: 120%;
            max-width: 500px;
        }

        ul {
            max-width: 500px;
            list-style: none;
            li {
                padding: $base-margin*2 0;
                line-height: 120%;
                h2 {
                    padding-bottom: $base-margin;
                }
            }
        }

        @media only screen and (max-width: 480px) {
            & {
                margin: 0 $base-margin;
                margin-bottom: $base-margin;
            }
        }
    }

    .control-panel {
        min-width: 200px;
        max-width: 400px;
        h1 {
            padding-bottom: $base-margin/2;
            border-bottom: 1px solid #ccc;
        }

        a {
            display: block;
            text-align: center;
            min-width: 100px;
            padding: $base-margin/2;
            margin: 0 auto;
            background: #fff;
            box-shadow: 0 1px 2px #ddd;
            border: 1px solid #ccc;
            @include border-radius(4px);
            // &:first-of-type {
                margin-top: $base-margin;
            // }

            -webkit-transition: opacity 3s ease-in-out;
            -moz-transition: opacity 3s ease-in-out;
            -ms-transition: opacity 3s ease-in-out;
            -o-transition: opacity 3s ease-in-out;
            opacity: 1;
        }
    }

    #home {
        margin: 0 $base-margin;
        #prop {
            padding: $base-margin 0 $base-margin*2 $base-margin*3;
            // background: #fff;
            // border: 1px solid #ddd;
            @include border-radius(4px);
            
        }
        #features {
            margin-top: $base-margin;
            padding: $base-margin 0 $base-margin*2 $base-margin*3;
            // background: #fff;
            // border: 1px solid #ddd;
            @include border-radius(4px);
        }
    }

    @media only screen and (max-width: 480px) {
        margin-top: $base-margin;
    }
}

footer {
    height: 60px;
    padding-top: $base-margin * 2.5;
    background: $gringottsRedColor;
    text-align: center;
    p {
        width: 100%;
        padding: 0 0 $base-margin/2 $base-margin;
        font-size: 11px;
        color: #fff;
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"], 
select {
    margin: 6px 0 6px 0;
    padding: 4px;
    background: #fff;
    border: 1px solid #ccc;
    @include border-radius(3px);
    box-shadow: 0 1px -3px #ddd;
}

button[type="submit"] {
    padding: 4px;
    margin: 0 0 4px 0;
}

label {
    font-size: 16px;
    font-weight: bold;
}