/* -------------------- */
/*  Setup
/* -------------------- */
* {
  margin: 0;
  padding: 0; }

header, footer, section, aside, nav, article {
  display: block; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  margin: 0 auto;
  background: #fff3f7;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

h1, h2, h3 {
  color: #7f0000;
  font-weight: bold; }

a {
  text-decoration: none;
  color: #7f0000; }

/* -------------------- */
/*  Header
/* -------------------- */
header {
  width: 100%;
  height: 120px;
  background: #b20000; }
  header #headerContent {
    max-width: 800px;
    margin: 0 auto; }
    header #headerContent img {
      width: 200px;
      height: 200px;
      padding: 12px;
      float: left;
      z-index: 3; }
    header #headerContent nav {
      float: right; }
      header #headerContent nav .navbar-text {
        padding: 12px 12px 0 0;
        color: #fff3f7;
        font-size: 14px;
        text-align: center; }
      header #headerContent nav a {
        display: block;
        width: 100px;
        margin: 6px 0 12px 108px;
        padding: 6px;
        color: #fff3f7;
        font-size: 16px;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-variant: small-caps;
        text-decoration: none;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        border: 1px solid transparent;
        background: #cb0000;
        line-height: 100%; }
      header #headerContent nav a:hover {
        border-color: #fff3f7;
        text-shadow: 0px 0px 2px #ff0; }
  @media only screen and (max-width: 480px) {
    header {
      height: 124px; }
      header #headerContent img {
        width: 100px;
        height: 100px;
        float: none; } }

.alert {
  width: 200px;
  margin: 12px auto;
  padding: 6px;
  border: 1px solid #fff;
  border-top: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  opacity: 0.5; }
  .alert.alert-notice {
    background: #7aeb85; }
  .alert.alert-error {
    background: #ff1919; }

/* -------------------- */
/*  Content
/* -------------------- */
#content {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 112px;
  margin-bottom: 112px; }
  #content .main {
    margin: 0 auto;
    margin-bottom: 12px;
    padding: 24px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
    #content .main #prop-header {
      font-size: 60px;
      line-height: 120%;
      padding-bottom: 12px; }
      @media only screen and (max-width: 560px) {
        #content .main #prop-header {
          font-size: 42px; } }
    #content .main #prop-statement {
      line-height: 120%;
      max-width: 500px; }
    #content .main ul {
      max-width: 500px;
      list-style: none; }
      #content .main ul li {
        padding: 24px 0;
        line-height: 120%; }
        #content .main ul li h2 {
          padding-bottom: 12px; }
    @media only screen and (max-width: 480px) {
      #content .main {
        margin: 0 12px;
        margin-bottom: 12px; } }
  #content .control-panel {
    min-width: 200px;
    max-width: 400px; }
    #content .control-panel h1 {
      padding-bottom: 6px;
      border-bottom: 1px solid #ccc; }
    #content .control-panel a {
      display: block;
      text-align: center;
      min-width: 100px;
      padding: 6px;
      margin: 0 auto;
      background: #fff;
      box-shadow: 0 1px 2px #ddd;
      border: 1px solid #ccc;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      margin-top: 12px;
      -webkit-transition: opacity 3s ease-in-out;
      -moz-transition: opacity 3s ease-in-out;
      -ms-transition: opacity 3s ease-in-out;
      -o-transition: opacity 3s ease-in-out;
      opacity: 1; }
  #content #home {
    margin: 0 12px; }
    #content #home #prop {
      padding: 12px 0 24px 36px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
    #content #home #features {
      margin-top: 12px;
      padding: 12px 0 24px 36px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
  @media only screen and (max-width: 480px) {
    #content {
      margin-top: 12px; } }

footer {
  height: 60px;
  padding-top: 30px;
  background: #b20000;
  text-align: center; }
  footer p {
    width: 100%;
    padding: 0 0 6px 12px;
    font-size: 11px;
    color: #fff; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
  margin: 6px 0 6px 0;
  padding: 4px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px -3px #ddd; }

button[type="submit"] {
  padding: 4px;
  margin: 0 0 4px 0; }

label {
  font-size: 16px;
  font-weight: bold; }
