<h2>Transactions</h2>

<table>
  <thead>
    <tr>
      <th>Account Number</th>
      <th>Amount</th>
      <th>Transaction Type</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.account_id %></td>
        <td><%= number_to_currency(transaction.amount) %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.created_at.strftime("%d %b. %Y : %I:%M%p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


