<header>
    <div>
        <nav>
            <% if current_user %>
                <p>Logged in as <strong><%= current_user.first_name %></strong></p>
            <% end %>
            <ul>
            <% if current_user %>
                <li><%= link_to "Logout", destroy_sessions_path, method: :delete, :class => 'navbar-link'  %></li>
                <li><%= link_to "Users", users_path %></li>
            <% else %>
                <li><%= link_to "Login", new_sessions_path, :class => 'navbar-link'  %></li>
            <% end %>
        </nav>
    </div>
</header>