<div class="main control-panel">
  <h3>Accounts</h3>
  <% for account in @accounts %>
      <%= link_to "#{account.account_type}: #{account.display_account_id} \t\t Balance #{number_to_currency(account.current_balance)}", account %>
  <% end %>
</div>
